{{#has_name_age_hometown}}


        <p>Nazywam się {{name}}, mam {{age}} lat i pochodzę z {{hometown}}.
       </p>


{{/has_name_age_hometown}}
{{#has_name_age}}


        <p>Nazywam się {{name}} i mam {{age}} lat.</p>


{{/has_name_age}}
{{#has_name_hometown}}


        <p>Nazywam się {{name}} i pochodzę z {{hometown}}.</p>

{{/has_name_hometown}}
{{#has_name}}


        <p>Nazywam się {{name}}.</p>


{{/has_name}}
{{#has_hometown}}


        <p>Pochodzę z {{hometown}}.</p>


{{/has_hometown}}
{{#has_hometown_age}}


        <p>Mam {{age}} lat i pochodzę z {{hometown}}.</p>


{{/has_hometown_age}}
{{#has_age}}


        <p>Mam {{age}} lat.</p>


{{/has_age}}
