<select id="country_selector">
    <option value="">Wybierz swój kraj</option>
    <option value="at">Austria</option>
    <option value="be">Belgia</option>
    <option value="bg">Bułgaria</option>
    <option value="hr">Chorwacja</option>
    <option value="cy">Cypr</option>
    <option value="cz">Czechy</option>
    <option value="dk">Dania</option>
    <option value="ee">Estonia</option>
    <option value="fi">Finlandia</option>
    <option value="fr">Francja</option>
    <option value="de">Niemcy</option>
    <option value="gr">Grecja</option>
    <option value="hu">Węgry</option>
    <option value="it">Włochy</option>
    <option value="ie">Irlandia</option>
    <option value="lv">Łotwa</option>
    <option value="lt">Litwa</option>
    <option value="lu">Luksemburg</option>
    <option value="mt">Malta</option>
    <option value="nl">Holandia</option>
    <option value="pl">Polska</option>
    <option value="pt">Portugalia</option>
    <option value="ro">Rumunia</option>
    <option value="sk">Słowacja</option>
    <option value="si">Słowenia</option>
    <option value="es">Hiszpania</option>
    <option value="se">Szwecja</option>
    <option value="gb">Wielka Brytania</option>
  </select>
  <a href="javascript:void()" title="Get another MEP" id='refresh_mep'><img src="/static/images/refresh.png"/></a>
  <select id="group_selector">
    <option value="">Filtruj po grupie politycznej</option>
    <option value="epp">EPP: Europejska Partia Ludowa</option>
    <option value="sd">S&amp;D: Socjaliści i Demokraci</option>
    <option value="ecr">ECR: Europejscy Konserwatyści i Reformatorzy</option>
    <option value="aldeadle">ALDE: Przymierze Liberałów i Demokratów</option>
    <option value="guengl">GUE: Europejska Zjednoczona Lewica</option>
    <option value="greensefa">Zieloni: Zieloni/Europejskie Przymierze Wolności</option>
    <option value="ni">NI: Niezrzeszeni</option>
    <option value="efd">EFD: Europa dla Wolności i Bezpośredniej Demokracji</option>
  </select>
  <input id="mep_selector" placeholder="Search" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Zmień język</option>
    <option value="pl">Polski</option>
    <option value="en">Angielski</option>
    <option value="de">Niemiecki</option>
    <option value="fr">francuski</option>
    <option value="ro">Rumun</option>
    <option value="nl">holenderski</option>
  </select>
