<p>Drogi Europarlamentarzysto {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>Dlaczego zależy mi na Neutralości Internetu</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>Proszę o ochronę neutralności internetu w zbliżającym się głosowaniu w sprawie Jednorodnego Rynku Telekomunikacyjnego. Proszę bronić silnego stanowiska w sprawie neutralności internetu, które zostało przjęte 3 kwietnia 2014, by ochronić otwarty internet.

  <p>Z poważaniem,</p>
  <p>{{goodbye}}</p>

