{{#has_name_age_hometown}}


        <p>Je m'appelle {{name}}, j'ai {{age}} ans et j'habite à {{hometown}}.</p>


{{/has_name_age_hometown}}
{{#has_name_age}}


        <p>Je m'appelle {{name}} et j'ai {{age}} ans.</p>


{{/has_name_age}}
{{#has_name_hometown}}


        <p>Je m'appelle {{name}} et j'habite à {{hometown}}.</p>


{{/has_name_hometown}}
{{#has_name}}


        <p>Je m'appelle {{name}}.</p>


{{/has_name}}
{{#has_hometown}}


        <p>J'habite à {{hometown}}.</p>


{{/has_hometown}}
{{#has_hometown_age}}


        <p>J'ai {{age}} ans et j'habite à {{hometown}}.</p>


{{/has_hometown_age}}
{{#has_age}}


        <p>J'ai {{age}} ans.</p>


{{/has_age}}