<select id="country_selector">
    <option value="">Choisissez votre pays</option>
    <option value="at">Autriche</option>
    <option value="be">Belgique</option>
    <option value="bg">Bulgarie</option>
    <option value="hr">Croatie</option>
    <option value="cy">Chypre</option>
    <option value="cz">République Tchèque</option>
    <option value="dk">Danemark</option>
    <option value="ee">Estonie</option>
    <option value="fi">Finlande</option>
    <option value="fr">France</option>
    <option value="de">Allemagne</option>
    <option value="gr">Grèce</option>
    <option value="hu">Hongrie</option>
    <option value="it">Italie</option>
    <option value="ie">Irelande</option>
    <option value="lv">Lettonie</option>
    <option value="lt">Lituanie</option>
    <option value="lu">Luxembourg</option>
    <option value="mt">Malte</option>
    <option value="nl">Pays-Bas</option>
    <option value="pl">Pologne</option>
    <option value="pt">Portugal</option>
    <option value="ro">Roumanie</option>
    <option value="sk">Slovaquie</option>
    <option value="si">Slovénie</option>
    <option value="es">Espagne</option>
    <option value="se">Suède</option>
    <option value="gb">Royaume-Uni</option>
  </select>
  <a href="javascript:void()" title="Choisir un autre eurodéputé" id='refresh_mep'><img src="/static/images/refresh.png"/></a>
  <select id="group_selector">
    <option value="">Trier par groupe politique</option>
    <option value="epp">PPE : Parti populaire européen</option>
    <option value="sd">S&amp;D : Alliance progressiste des socialistes et des démocrates </option>
    <option value="ecr">ECR : conservateurs et réformateurs européens </option>
    <option value="aldeadle">ALDE : Alliance des démocrates et des libéraux pour l'Europe </option>
    <option value="guengl">GUE/NGL : Gauche unitaire européenne/Gauche verte nordique</option>
    <option value="greensefa">Verts/ALE : Groupe des Verts/Alliance libre européenne</option>
    <option value="ni">N I: Non-inscrits</option>
    <option value="efd">EFDD : Europe de la liberté et de la démocratie directe</option>
  </select>
  <input id="mep_selector" placeholder="Search" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Changer de langue</option>
    <option value="fr">français</option>
    <option value="en">anglais</option>
    <option value="de">allemand</option>
    <option value="ro">roumain</option>
  </select>