<input type="text" id="name" name="name" class="smalltext" placeholder="Quel est votre nom ?" />
<input type="text" id="hometown" name="hometown" class="tinytext smalltext" placeholder="Où habitez-vous ? (région / ville)"/>
<input type="text" id="age" name="age" class="tinytinytext smalltext" placeholder="Quel âge avez-vous ?" />
<textarea id="whycare1" name="whycare1" class="mediumtext" placeholder="Pourquoi la neutralité du Net est-elle importante selon vous ?"></textarea>
<textarea id="whycare2" name="whycare2" class="mediumtext" placeholder="En quoi votre vie serait-elle différente sans neutralité du Net ?"></textarea>

<textarea id="full_message" name="full_message" class="emailtext" placeholder="Répondez aux questions ci-dessus pour personnaliser ce message">
  </textarea>
  <br/>
<section><a class="button personal" id="sendfax" href="javascript:void(0)">Envoyer le fax !</a></section>

<input type="hidden" name="id" id="id" value="" />
<input type="hidden" name="blackhole" value="false" />