<p>Cher Membre du Parlement européen {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>Pourquoi je me soucie de la neutralité du Net</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>Je vous demande de protéger la neutralité du Net lors du vote à venir sur le règlement relatif au marché unique des communications électroniques et de maintenir la position ferme adoptée au Parlement européen le 3 avril 2014 garantissant un Internet ouvert.</p>

  <p>Cordialement,</p>
  <p>{{goodbye}}</p>