
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/static/css/flags.css">
  <link rel="stylesheet" type="text/css" href="/static/css/pimail.css">
  <link rel="stylesheet" href="/static/js/jquery-ui-1.11.3.custom/jquery-ui.theme.min.css">

  <style>
    .hidden {
      display: none;
      }
  </style>
  <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
  <script type="text/javascript" src="/static/js/nicEdit.js"></script>
  <script type="text/javascript" src="/static/js/mustache.min.js"></script>
  <script type="text/javascript" src="/static/js/chevron.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui-1.11.3.custom/jquery-ui.min.js"></script>
  
  <script type="text/javascript" src="/static/js/contact-your-mep.js"></script>

</head>
<title>Fax your MEP</title>
</head>
<body>
<div id=global>

  <div id="sent-message" class="hidden">Place for messages</div>

  <div id=actionbox>

    <div class="mepFilter"></div>

    <div id=mep_infos_top></div>

    <form method="POST" id="faxform">
      <input type="hidden" name="id" value="{{id}}" />
      <input type="hidden" name="blackhole" value="false" />
    </form>
  </div>

</div>

<link href="/static/templates/en/Introduction.mustache" rel="template" id="tmpl_en_intro"/>
<link href="/static/templates/en/message.mustache" rel="template" id="tmpl_en_message"/>
<link href="/static/templates/en/mep_info.mustache" rel="template" id="tmpl_en_mep_infos"/>
<link href="/static/templates/en/mep_selection.mustache" rel="template" id="tmpl_en_mep_selection"/>
<link href="/static/templates/en/message_inputs.mustache" rel="template" id="tmpl_en_message_inputs"/>

<link href="/static/templates/de/Introduction.mustache" rel="template" id="tmpl_de_intro"/>
<link href="/static/templates/de/message.mustache" rel="template" id="tmpl_de_message"/>
<link href="/static/templates/de/mep_info.mustache" rel="template" id="tmpl_de_mep_infos"/>
<link href="/static/templates/de/mep_selection.mustache" rel="template" id="tmpl_de_mep_selection"/>
<link href="/static/templates/de/message_inputs.mustache" rel="template" id="tmpl_de_message_inputs"/>


<script>
  setLng('{{language}}');
</script>

</body>
</html>
