<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>    
</head>
<title>Fax your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a></div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="{{image}}" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
	<section id=mep_details><a href="{{url}}" target="_blank">Details</a></section>
</div>

<div id=actionbox>
<form method="POST" id="faxform">
<input type="hidden" name="id" value="{{id}}" />
<textarea id="body" name="body" class=emailtext>
Dear {{name}},

On April 3rd, all Members of the European Parliament will vote on the proposal of a "Telecom Single Market" regulation. The fate of the Open Internet is in your hands with this vote. 

The report adopted by the leading ITRE committee includes povisions undermining the principle of net neutrality, putting the open internet and freedom of speech at risk. 

As a citizen, I ask you to support net neutrality friendly amendments for the plenary to ensure that the internet remains a platform where innovation and competition can thrive. Please don't let incumbent monopolies squander one of the most dynamic and transformative inventions of our time.

Vote pro net neutrality on April 3rd! 


We need to get this right. A small amount of loopholes that undermine the open internet is the same as a large number of loopholes that undermine the open internet. ISPs have proven their determination to establish themselves as gatekeepers of online services for their own short-term interests and against the interests of their users and the digital economy in Europe.

There is no need to "swap" roaming for net neutrality; we can have both. The roaming problem was created by the "sending-party-pays" market model of mobile telephony. Rejecting net neutrality means creating the same market model for the internet! This must be prevented.
 
The European Parliament have been asking for net neutrality to be enshrined into EU for the past several years, Parliamentarians should now seize this unique opportunity.


Sincerely,
A concerned citizen

  </textarea>
<section><a onclick="makeform()" class="button green" href="#">Fax Now!</a></section>
</form>
</div>

</div>

<script>
	var txt_changed = false;
  document.getElementById('body').onkeyup = function () {
    txt_changed = true;
  }

  function makeform() {
    if (txt_changed || confirm('Personalized messages are much more effective to convince politicans. \n\nPlease take the time to write a text :)\n\nSend it anyway?')) {
			document.getElementById("faxform").submit();
		}
	}
</script>

</body>
</html>
