<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>    
</head>
<title>Fax your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a></div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="{{image}}" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
	<section id=mep_role>{{role}}</section>
	<section id=mep_details><a href="{{url}}" target="_blank">Details</a></section>
</div>

<div id=actionbox>
<form method="POST">
<input type="hidden" name="id" value="{{id}}" />
<textarea id="body" name="body" class=emailtext>
Dear {{name}},
 
The decisions that you and your colleagues will make this week will have a lasting impact on the open internet in Europe. It’s critical to get this right and not accept bad compromises.

Your upcoming vote on the European Commission’s “Telecoms Single Market proposal”, is an opportunity to protect the open and neutral internet. The Commission's current proposal includes provisions undermining network neutrality by permitting pervasive network  discrimination, to the detriment of user rights and the single market. You and your colleagues now have a unique opportunity to protect the internet by creating an environment where free expression, innovation and competition can flourish.
 
As a first step, ITRE members must remove the current definition of "specialized services", closing a dangerous loophole that would create a two-tiered internet, strangling online innovation, competition, diversity, and the exercise of human rights on the internet.
 
I urge you to adopt the robust definition of “network neutrality” put forward by the Culture and Education Committee (CULT), one that ensures that internet access providers do not block or discriminate against content, websites, applications, or services; that online innovation isn’t stifled; that anti-competitive practices don’t flourish; and that internet users are protected from restrictions of their rights and freedoms.

Finally, while some progress in the ITRE Committee has been made, it is critical that members stand their ground and address the remaining problematic issues in the Rapporteur’s compromise amendments. A compromise that allows a few loopholes that destroy the open internet instead of many loopholes that would destroy the open internet is not an acceptable compromise. 
 
Sincerely,
a concerned citizen


PS: I suggest you follow this voting list: http://is.gd/7IPseE

  </textarea>
<section><input type="submit" class="button green" value="Fax now!"></section>
</form>
</div>

</div>

</body>
</html>
