<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>    
</head>
<title>Fax your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a></div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="{{image}}" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
	<section id=mep_role>{{role}}</section>
	<section id=mep_details><a href="{{url}}" target="_blank">Details</a></section>
</div>

<div id=actionbox>
<form method="POST">
<input type="hidden" name="id" value="{{id}}" />
<textarea id="body" name="body" class=emailtext>
Dear {{name}},
 
This monday, you are going to vote in the ITRE committee on the proposal on a "Telecom Single Market" regulation.
Vote for the alternative CA 4 B by Catherine Trautmann to save the internet and reject the CA 4 A by Rapporteur Pilar del Castillo! 

The decisions that you and your colleagues will make this week will have a lasting impact on the open internet in Europe. It’s critical to get this right and not accept bad compromises.

The report proposed by the Rapporteur Pilar del Castillo still contains many loopholes and is dangerous for net neutrality.
The alternative compromise amendement from Catherine Trautmann (S&amp;D) clarifies the text, makes for example the net neutrality definition binding and closes many loopholes. 

Ms Trautmann's definition of "specialised services" is tighter and prevents incumbent companies (Facebook, Google, Apple) from offering their service on the fast lane as a "specialised service". 

Neither text is perfect, but Ms Trautmann's proposal is significantly better and offers highest safeguard for the open internet. 
Please don't jeopardize the future of the internet in Europe and vote for the alternative compromise CA 4 B! 

Internet is one of the greatest technological innvation of mankind because it is open and because it treats information without discrimination. Save it now!!

Sincerely,
a concerned citizen

PS: detailed analysis of the two Compromise Amendments http://is.gd/IHUJvu

  </textarea>
<section><input type="submit" class="button green" value="Fax now!"></section>
</form>
</div>

</div>

</body>
</html>
