<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>
  <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
</head>
<title>Mail your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -<br/>
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a><br/>
  {% if facebook %}
  <p>You can also send your message to the MEP on his/her <a href="{{facebook}}" target="_blank">Facebook Page</a>.</p>
  {% endif %}
  </div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="/static/images/{{id}}.jpg" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
  {% if facebook %}
  <a href="{{facebook}}" target="_blank"><img src="/static/images/fb.jpg"></img></a>
  {% endif %}
  {% if twitter %}
  <a href="https://twitter.com/{{twitter}}" target="_blank"><img src="/static/images/tw.jpg"></img></a>
  {% endif %}
</div>

<div id=actionbox>

<input id="subject" class=emailsubject placeholder="Subject" name="subject" value="" />
<textarea id="body" name="body" class=emailtext>
Dear {{name}},

I'm asking you to save net neutrality again. 

In April 2014 the European Parliament adopted a strong position on net neutrality in the Telecom Single Market regulation. I call on you to defend this decision in the interest of the European population and to not let your position be watered down in the current trialogue negotiations. 

I am glad the text is trying to get rid of roaming charges, but ask you not to forget about net neutrality.  Juncker's Commission promised a digital telecommunications market and this requires strong protections for citizens and content and applications providers. 

Right now internet users can access content from big companies and small blogs, news sites or government websites on an equal basis. But if clear rules enshrining net neutrality and outlawing network discrimination are not included, ISPs will be able to create fast lanes where few companies would get prioritised access to customers, leaving smaller websites, education and civic services, and anyone else who can't pay, in the slow lane. As telecoms operators would be empowered to hand pick the winners and losers in the market, this would begin a new era of online discrimination and the establishment of an anti-competitive protectionist market in the EU. 

In 2014, the European Parliament stood with thousands of citizens who took action to fight for net neutrality in the European Parliament. More than 40,000 faxes, thousands of emails, and hundreds of phone calls were sent to defend our fundamental rights online. I'm asking you to stand with me again.

Sincerely,
A concerned citizen

  </textarea>
<section><a onclick="makeform()" class="button green" id="mailtolink" href="#">Mail Now!</a></section>
</div>

</div>
<script>
  var txt_changed = false;
  document.getElementById('body').onkeyup = function () {
    txt_changed = true;
  }

  function makeform() {
    if (txt_changed || confirm('Personalized messages are much more effective to convince politicans. \n\nPlease take the time to write a text :)\n\nSend it anyway?')) {
      var email="mailto:{{email}}?subject="
      var body=document.getElementById("body").value.replace(/\n/g,"%0A")
        .replace(/ /g,"%20")
      var subject=document.getElementById("subject").value.replace(/ /g,"%20")
      email=email+subject+"&body="+body
      a=window.open(email)
      a.close()
      document.getElementById("sent-message").className="";
    }
  }

  function log_activity (action, value) {
    var url = "https://faxjh.savetheinternet.eu/log/?action=" + action; 
    if (value) {
      url += '&value=' + value;
    }
    jQuery.ajax(url);
    jQuery.ajax('https://piwik.netzfreiheit.org/piwik.php?idsite=11&rec=1&url=https%3A%2F%2Fsavetheinternet.eu&idgoal=1&e_c=contact&e_n=mail&e_v=' + (txt_changed ? 1 : 0));
  }

  $(function () {
    $('#mailtolink').on('click', function () {
      log_activity('mail');
    })
  });

</script>

</body>
</html>
