<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>    
</head>
<title>Mail your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a></div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="{{image}}" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
	<section id=mep_role>{{role}}</section>
	<section id=mep_details><a href="{{url}}" target="_blank">Details</a></section>
</div>

<div id=actionbox>

<input id="subject" class=emailsubject placeholder="Subject" name="subject" value="Telecom Single Market: Vote for CA 4 B" />
<textarea id="body" name="body" class=emailtext>
Dear {{name}},

This monday, you are going to vote in the ITRE committee on the proposal on a "Telecom Single Market" regulation.
Vote for the alternative CA 4 B by Catherine Trautmann to save the internet and reject the CA 4 A by Rapporteur Pilar del Castillo! 

The report proposed by the Rapporteur Pilar del Castillo still contains many loopholes and is dangerous for net neutrality.
The alternative compromise amendement from Catherine Trautmann (S&amp;D) clarifies the text, makes for example the net neutrality definition binding and closes many loopholes. 

Ms Trautmann's definition of "specialised services" is tighter and prevents incumbent companies (Facebook, Google, Apple) from offering their service on the fast lane as a "specialised service". 

Neither text is perfect, but Ms Trautmann's proposal is significantly better and offers highest safeguard for the open internet. 
Please don't jeopardize the future of the internet in Europe and vote for the alternative compromise CA 4 B! 

Sincerely,

PS: detailed analysis of the two compromise amendments http://is.gd/IHUJvu

  </textarea>
<section><a onclick="makeform()" class="button green" href="#">E-Mail Now!</a></section>
</div>

</div>
<script>
function makeform() {
  var email="mailto:{{email}}?subject="
  var body=document.getElementById("body").value.replace(/\n/g,"%0A")
    .replace(/ /g,"%20")
  var subject=document.getElementById("subject").value.replace(/ /g,"%20")
  email=email+subject+"&body="+body
  a=window.open(email)
  a.close()
  document.getElementById("sent-message").className="";
  }
</script>

</body>
</html>
