<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>
  <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
</head>
<title>Mail your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
	<div id="sent-message" class="hidden">Your email is in your mail client -<br/>
	if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a><br/>
  {% if facebook %}
  <p>You can also send your message to the MEP on his/her <a href="{{facebook}}" target="_blank">Facebook Page</a>.</p>
  {% endif %}
  </div>

<div id=mep_infos>

	<section id=mep_name>To:<br>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="/static/images/{{id}}.jpg" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
  {% if facebook %}
  <a href="{{facebook}}" target="_blank"><img src="/static/images/fb.jpg"></img></a>
  {% endif %}
  {% if twitter %}
  <a href="https://twitter.com/{{twitter}}" target="_blank"><img src="/static/images/tw.png"></img></a>
  {% endif %}
</div>

<div id=actionbox>

<input id="subject" class=emailsubject placeholder="Subject" name="subject" value="" />
<textarea id="body" name="body" class=emailtext>
Dear MEP {{name}},

On 27th October, you will vote on the future of the Internet. This is the last chance to fix the ambiguous Telecom Single Market Regulation and deliver the promise of Net Neutrality.

Today, internet users can access content from small blogs, news websites, and government websites just as easily as they can access content from large companies. But this thriving environment could end unless clear rules enshrining Net Neutrality and outlawing network discrimination are adopted. 

On the day of the vote, do not leave it you up to regulators to decide on the future of the Internet in Europe. The current text of the Telecom Single Market regulation is unclear and could enable discrimination on the network that would stifle freedom of speech, economic growth and online innovation.

Please vote for amendments that bring clarity to the Telecom Single Market Regulation and will ensure that Net Neutrality is delivered across the EU.

Sincerely,
A concerned citizen 

  </textarea>
<section><a onclick="makeform()" class="button" id="mailtolink" href="#">Mail Now!</a></section>
</div>

</div>
<script>
  var txt_changed = false;
  document.getElementById('body').onkeyup = function () {
    txt_changed = true;
  }

  function makeform() {
    if (txt_changed || confirm('Personalized messages are much more effective to convince politicans. \n\nPlease take the time to write a text :)\n\nSend it anyway?')) {
      var email="mailto:{{email}}?subject="
      var body=encodeURIComponent(document.getElementById("body").value)
      var subject=encodeURIComponent(document.getElementById("subject").value)
      email+=subject+"&body="+body
      a=window.open(email)
      //a.close()
      document.getElementById("sent-message").className="";
    }
  }

  function log_activity (action, value) {
    jQuery.ajax('https://piwik.netzfreiheit.org/piwik.php?idsite=11&rec=1&url=https%3A%2F%2Fsavetheinternet.eu&idgoal=1&e_c=contact&e_n=mail&e_v=' + (txt_changed ? 1 : 0));
  }

  $(function () {
    $('#mailtolink').on('click', function () {
      log_activity('mail');
    })
  });

</script>

</body>
</html>
