

FAX_GATEWAY="fax2mail.com"
SENDMAIL='/usr/bin/echo'
FAX_FIELD='fax'
FROM='Pimail <pimail@example.com>'
#FAX_FIELD='stg-fax'
TEST=False
DATABASE_URL = 'sqlite://test.sqlite' # also supports mysql://user:pass@host/db
