<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
	<link rel="stylesheet" type="text/css" href="/static/css/pimail.css">

  <style>
    .hidden {
      display: none;
      }
  </style>
  <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
</head>
<title>Tweet your MEP</title>
</head>
<body>
<div id=global>

	<h1>Write MEPs! Demand the enforcement of a true and unconditional Net neutrality!</h1>
  <div id="sent-message" class="hidden">Your email is in your mail client -
  if this doesn't work: the email address is <a href="mailto:{{email}}">{{email}}</a></div>

<div id=mep_infos>

	<section id=mep_name>{{name}} <img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;"> </section>
	<section id=mep_pic><img src="/static/images/{{id}}.jpg" style="height:120px;"></section>
	<section id=mep_group>{{group}}</section>
	<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
  {% if facebook %}
  <a href="{{facebook}}" target="_blank"><img src="/static/images/fb.jpg"></img></a>
  {% endif %}
  {% if twitter %}
  <a href="https://twitter.com/{{twitter}}" target="_blank"><img src="/static/images/tw.jpg"></img></a>
  {% endif %}
</div>

<div id=actionbox>

<textarea id="tweet" name="body" class=tweettext>
Dear @{{twitter}} please stand by the decision of the European Parliament from April 2014 for a strong #netneutrality. #SaveTheInternet
</textarea>
<section><a onclick="makeform()" class="button green" id="tweetlink" href="#">Tweet!</a></section>
</div>

</div>
<script>
  var txt_changed = false;
  document.getElementById('tweet').onkeyup = function () {
    txt_changed = true;
  }

  function makeform() {
    if (txt_changed || confirm('Personalized messages are much more effective to convince politicans. \n\nPlease take the time to write a text :)\n\nSend it anyway?')) {
      var tweet="https://twitter.com/intent/tweet?text="
      var body=encodeURIcomponent(document.getElementById("tweet").value);
      tweet=tweet+body
      a=window.open(tweet)
    }
  }

  function log_activity (action, value) {
    jQuery.ajax('https://piwik.netzfreiheit.org/piwik.php?idsite=11&rec=1&url=https%3A%2F%2Fsavetheinternet.eu&idgoal=5&e_c=contact&e_n=tweet&e_v=' + (value ? 1 : 0));
  }

  $(function () {
    $('#tweetlink').on('click', function () {
      log_activity('tweet', txt_changed);
    })
  });
</script>

</body>
</html>
