<!DOCTYPE html>
<html>
<head>
<title>Foo</title>
</head>
<body>
<div><section>{{name}}</section></div>
<div>

<section>{{country_short}}</section>
<section>{{group}}</section>
<section>{{name}}</section>
<section>{{url}}</section>
<section>{{country}}</section>
<section><img src="{{image}}" /></section>
<section>{{group_short}}</section>
<section>{{role}}</section>
<section>{{party}}</section>
<section><a href="mailto:{{email}}">Send E-Mail</a></section>
</div>

</body>
</html>

