<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/flags.css">
</head>
<title>Mail your MEP</title>
</head>
<body>

<div><section>{{name}}</section></div>

<form>
<label for="subject">Subject:</label>
<input id="subject" name="subject" value="Please save the Internet" />
<textarea id="body" name="body">
Dear {{name}},

I really like my internet to be neutral!

-- YOUR RANT HERE --


Sincerely,
  A concerned Citizen

</textarea>
<section>{{country_short}}</section>
<section>{{group}}</section>
<section>{{name}}</section>
<section>{{url}}</section>
<section><img src="blank.gif" class="flag flag-{{country_short}}" alt="{{country}}" /> {{country}}</section>
<section><img src="{{image}}" /></section>
<section>{{group_short}}</section>
<section>{{role}}</section>
<section>{{party}}</section>
<section><a onclick="makeform()" href="#">Send E-Mail</a></section>

<script>
function makeform() {
  var email="mailto:{{email}}?subject="
  var body=document.getElementById("body").value.replace("\n","%0D%0A")
  var subject=document.getElementById("subject").value
  email=email+subject+"&body="+body
  window.open(email)
  }
</script>

</body>
</html>
