<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/flags.css">
</head>
<title>Mail your MEP</title>
</head>
<body>
<div>{{name}}</div>
	<img src="blank.gif" class="flag flag-{{country}}" alt="{{country}}" />
</body>
</html>
