{{#has_name_age_hometown}}


        <p>Mijn naam is {{name}}, Ik ben {{age}} jaar oud en ik kom uit {{hometown}}.</p>


{{/has_name_age_hometown}}
{{#has_name_age}}


        <p>Mijn naam is {{name}} en ik ben {{age}} jaar oud.</p>


{{/has_name_age}}
{{#has_name_hometown}}


        <p>Mijn naam is {{name}} en ik kom uit {{hometown}}.</p>


{{/has_name_hometown}}
{{#has_name}}


        <p>Mijn naam is {{name}}.</p>


{{/has_name}}
{{#has_hometown}}


        <p>Ik kom uit {{hometown}}.</p>


{{/has_hometown}}
{{#has_hometown_age}}


        <p>Ik ben {{age}} jaar oud en ik kom uit {{hometown}}.</p>


{{/has_hometown_age}}
{{#has_age}}


        <p>Ik ben {{age}} jaar oud.</p>


{{/has_age}}