<select id="country_selector">
    <option value="">Kies uw land</option>
    <option value="at">Oostenrijk</option>
    <option value="be">België</option>
    <option value="bg">Bulgarije</option>
    <option value="hr">Kroatië</option>
    <option value="cy">Cyprus</option>
    <option value="cz">Tjechië</option>
    <option value="dk">Denemarken</option>
    <option value="ee">Estland</option>
    <option value="fi">Finland</option>
    <option value="fr">Frankrijk</option>
    <option value="de">Duitsland</option>
    <option value="gr">Griekenland</option>
    <option value="hu">Hongarije</option>
    <option value="it">Italië</option>
    <option value="ie">Ierland</option>
    <option value="lv">Letland</option>
    <option value="lt">Litouwen</option>
    <option value="lu">Luxemburg</option>
    <option value="mt">Malta</option>
    <option value="nl">Nederland</option>
    <option value="pl">Polen</option>
    <option value="pt">Portugal</option>
    <option value="ro">Roemnië</option>
    <option value="sk">Slowakije</option>
    <option value="si">Slovenië</option>
    <option value="es">Spanje</option>
    <option value="se">Zweden</option>
    <option value="gb">Verenigd Koninkrijk</option>
  </select>
  <a href="javascript:void()" title="Kies een andere Europarlementariër" id='refresh_mep'><img src="/static/images/refresh.png"/></a>
  <select id="group_selector">
    <option value="">Filter op politieke groep</option>
    <option value="epp">EVP: Europese Volkspartij</option>
    <option value="sd">S&amp;D: Progressieve Alliantie van Socialisten en Democraten</option>
    <option value="ecr">ECR: Europese Conservatieven en Hervormers</option>
    <option value="aldeadle">ALDE: Alliantie van Liberalen en Democraten voor Europa</option>
    <option value="guengl">GUE: Europees Unitair Links/Noords Groen Links</option>
    <option value="greensefa">Groenen: Groenen/Europese Vrije Alliantie</option>
    <option value="ni">NI: Niet Ingeschrevenen</option>
    <option value="efd">EVDD: Europa van Vrijheid en Directe Democratie</option>
  </select>
  <input id="mep_selector" placeholder="Search" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Verander taal</option>
    <option value="nl">Nederlands</option>
    <option value="en">Engels</option>
    <option value="de">Duitse</option>
    <option value="fr">Frans</option>
    <option value="pl">Pools</option>
    <option value="ro">Rumänisch</option>
  </select>