<p>Geacht lid van het Europees Parlemenet {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>Waarom ik om netneutraliteit geef</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>Ik vraag u netneutraliteit te verdedigen in de aankomende stemming over de verordening voor een Europese Interne Markt voor Telecommunicatie. In april 2014 stemde het Europees Parlement voor duidelijke en bindende regels om netneutraliteit in de verordening over de interne telecommunicatiemarkt vast te leggen. Ik vraag u deze beslissing te verdedigen in het belang van de Europese burgers en om deze positie niet te laten afzwakken. </p>

  <p>Hoogachtend,</p>
  <p>{{goodbye}}</p>