<input type="text" id="name" name="name" class="smalltext" placeholder="Wat is uw naam? " />
<input type="text" id="hometown" name="hometown" class="tinytext smalltext" placeholder="Waar woont u? (Regio/stad/dorp)"/>
<input type="text" id="age" name="age" class="tinytinytext smalltext" placeholder="Hoe oud bent u? " />
<textarea id="whycare1" name="whycare1" class="mediumtext" placeholder="Waarom vind u netneutraliteit belangrijk?"></textarea>
<textarea id="whycare2" name="whycare2" class="mediumtext" placeholder="Hoe zou uw leven anders zijn zonder netneutraliteit?"></textarea>

<textarea id="full_message" name="full_message" class="emailtext" placeholder="beantwoord de bovenstaande vragen om dit bericht te personaliseren">
  </textarea>
  <br/>
<section><a class="button personal" id="sendfax" href="javascript:void(0)">Send</a></section>

<input type="hidden" name="id" id="id" value="" />
<input type="hidden" name="blackhole" value="false" />