body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin:0;
	color: #333;
}

h1 {
	font-size: 1em;
}

#global {
}
#mep_pic {
	margin-right:10px;
}

#mep_name {
	font-weight:bold;
}

#sent-message {
	position:absolute;
	background: #eeffee;
	border: 1px solid #aaeeaa;
	margin: 75px;
	box-shadow: #000 0 0 30px;
	padding: 19px;
	border-radius: 8px;
}

#mep_group {
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
	font-size:11px;
	max-width:24em;
	*width:24em;
}

#mep_infos {
	float:left;
	max-width:180px;
}

#mep_infos_top {
  max-width:460px;
}

#name, #hometown, #age, #whycare1, #whycare2, #full_message, #sendfax.personal, #group_selector,#mep_selector,#refresh_mep, #language_selector {
  display: none;
}

#actionbox {
	overflow:hidden;
}

.emailtext,
.emailsubject,
.tweettext {
  margin: 0 0 .5em;
  display: block;
  width: 96%;
  padding: 1.5% 2%;
  border: 0;
}

.tinytinytext,
.tinytext,
.smalltext,
.mediumtext,
.emailtext,
.tweettext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  border-bottom: 5px solid #E3A539;
  box-shadow: 0 5px rgba(0,0,0,.07) inset;
}

.smalltext,
.mediumtext {
  display: block;
  width: 75%;
  margin: .6em 0 .6em 0;
}

.tinytinytext {
  width: 19%;
}

.tinytext {
  width: 54%;
}

.mediumtext {
  height: 85px;
}

.emailtext {
	height: 250px;
}
.tweettext {
  height: 4.1em;
}

a.button, input.button {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-weight: 600;
  letter-spacing: .05em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  background: #2B2B2B;
  border-top: 3px solid #2B2B2B;
  border-bottom: 3px #000 solid;
  text-transform: uppercase;
}


#country_selector, #mep_selector {
  width: 22.5%;
}

.mepFilter > select, .mepFilter > input, .newsletter-box select, .newsletter-box input {
  font-size: 1em;
  padding: .3%;
  max-width: 100%;
  margin: .5%;
}