{{#has_name_age_hometown}}


	<p>My name is {{name}}, I am {{age}} years old and I come from {{hometown}}.</p>


{{/has_name_age_hometown}}
{{#has_name_age}}


	<p>My name is {{name}} and I am {{age}} years old.</p>


{{/has_name_age}}
{{#has_name_hometown}}


	<p>Mein Name ist {{name}} und ich komme aus {{hometown}}.</p>


{{/has_name_hometown}}
{{#has_name}}


	<p>Mein Name ist {{name}}.</p>


{{/has_name}}
{{#has_hometown}}


	<p>Ich komme aus {{hometown}}.</p>


{{/has_hometown}}
{{#has_hometown_age}}


	<p>Ich bin {{age}} Jahre alt und komme aus {{hometown}}.</p>


{{/has_hometown_age}}
{{#has_age}}


	<p>Ich bin {{age}} Jahre alt.</p>


{{/has_age}}