<select id="country_selector">
                        <option value="">Wähle dein Land aus</option>
                                    <option value="at">Österreich</option>
                                    <option value="be">Belgien</option>
                                    <option value="bg">Bulgarien</option>
                                    <option value="hr">Kroatien</option>
                                    <option value="cy">Zypern</option>
                                    <option value="cz">Tschechische Republik</option>
                                    <option value="dk">Dänemark</option>
                                    <option value="ee">Estland</option>
                                    <option value="fi">Finnland</option>
                                    <option value="fr">Frankreich</option>
                                    <option value="de">Deutschland</option>
                                    <option value="gr">Griechenland</option>
                                    <option value="hu">Ungarn</option>
                                    <option value="it">Italien</option>
                                    <option value="ie">Irland</option>
                                    <option value="lv">Lettland</option>
                                    <option value="lt">Litauen</option>
                                    <option value="lu">Luxemburg</option>
                                    <option value="mt">Malta</option>
                                    <option value="nl">Niederlande</option>
                                    <option value="pl">Polen</option>
                                    <option value="pt">Portugal</option>
                                    <option value="ro">Rumänien</option>
                                    <option value="sk">Slowakei</option>
                                    <option value="si">Slowenien</option>
                                    <option value="es">Spanien</option>
                                    <option value="se">Schweden</option>
                                    <option value="gb">Großbritannien</option>
                    </select>

                    <a href="javascript:void()" title="Nächster Abgeordneter" id='refresh_mep'><img src="/static/images/refresh.png"/></a>

                            <select id="group_selector">
                                    <option value="">Politische Gruppierung auswählen</option>
                                    <option value="epp">EVP: Europäische Volkspartei</option>
                                    <option value="sd">S&amp;D: Sozialdemokraten</option>
                                    <option value="ecr">EKR: Europäische Konservative und Reformer</option>
                                    <option value="aldeadle">ALDE: Allianz der Liberalen und Demokraten für Europa</option>
                                    <option value="guengl">VEL: Vereinte Europäische Linke</option>
                                    <option value="greensefa">Grüne: Die Grünen/Europäische Freie Allianz</option>
                                    <option value="ni">Fraktionslose Mitglieder</option>
                                    <option value="efd">EFDD: Europa der Freiheit und der direkten Demokratie</option>
                                </select>
                    
  <input id="mep_selector" placeholder="Suche" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Sprachauswahl</option>
    <option value="de">Deutsch</option>
    <option value="en">Englisch</option>
    <option value="fr">Französisch</option>
    <option value="pl">Polnisch</option>
    <option value="ro">Rumänisch</option>
  </select>