<p>Sehr geehrte(r) Abgeordneter zum Europa Parlament {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>Wieso ist Netzneutralität wichtig</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>Ich bitte Sie deshalb sich für den Schutz der Netzneutralität in der bevorstehenden Abstimmung über die Verordnung zum Telekom-Binnenmarkt Verordnung einzusetzen. Verteidigen Sie die Position des Europa Parlaments in 1. Lesung vom 3. April 2014 zum Erhalt des offenen Internets. </p>


  <p>Mit ,</p>
  <p>{{goodbye}}</p>