<input type="text" id="name" name="name" class="smalltext" placeholder="Wie heißt du?" />
<input type="text" id="hometown" name="hometown" class="tinytext smalltext" placeholder="Was ist deine Heimatstadt / Region?"/>
<input type="text" id="age" name="age" class="tinytinytext smalltext" placeholder="Wie alt bist du?" />
<textarea id="whycare1" name="whycare1" class="mediumtext" placeholder="Wieso ist dir Netzneutralität wichtig?"></textarea>
<textarea id="whycare2" name="whycare2" class="mediumtext" placeholder="Was wäre anders in deinem Leben gäbe es keine Netzneutralität mehr?"></textarea>

<textarea id="full_message" name="full_message" class="emailtext" placeholder="beantworte die Fragen für eine personalisierte Nachricht an den Abgeordneten">
  </textarea>
  <br/>
<section><a onclick="makeform()" class="button personal" id="sendfax" href="#">Fax Jetzt!</a></section>