{{#has_name_age_hometown}}


	<p>Numele meu este {{name}}, am {{age}} de ani și sunt din {{hometown}}.</p>


{{/has_name_age_hometown}}
{{#has_name_age}}


	<p>Numele meu este {{name}} și am {{age}} de ani.</p>


{{/has_name_age}}
{{#has_name_hometown}}


	<p>Numele meu este {{name}} și sunt din {{hometown}}.</p>


{{/has_name_hometown}}
{{#has_name}}


	<p>Numele meu este {{name}}.</p>


{{/has_name}}
{{#has_hometown}}


	<p>Sunt din {{hometown}}.</p>


{{/has_hometown}}
{{#has_hometown_age}}


	<p>Am {{age}} de ani și sunt din {{hometown}}.</p>


{{/has_hometown_age}}
{{#has_age}}


	<p>Am {{age}} de ani.</p>


{{/has_age}}
