<section id=mep_name>Către: Europarlamentar {{name}} </section>
<section id=mep_pic><img src="/static/images/{{id}}.jpg" style="height:120px; float:right; margin: 5px"></section>
<section id=mep_group><img src="/static/groups/group_icon_{{group_short}}.png" style="vertical-align:middle;">{{group}}</section>
<section id=mep_country><img src="/static/blank.gif" class="flag flag-{{country_short}}" alt="{{country}}"> {{country}}</section>
{{#facebook}}
<a href="{{facebook}}" target="_blank"><img src="/static/images/fb.jpg"></img></a>
{{/facebook}}
{{#twitter}}
<a href="https://twitter.com/{{twitter}}" target="_blank"><img src="/static/images/tw.png"></img></a>
{{/twitter}}
