<select id="country_selector">
    <option value="">Selectați țara dvs.</option>
    <option value="at">Austria</option>
    <option value="be">Belgia</option>
    <option value="bg">Bulgaria</option>
    <option value="hr">Croația</option>
    <option value="cy">Cipru</option>
    <option value="cz">Republica Cehă</option>
    <option value="dk">Danemarca</option>
    <option value="ee">Estonia</option>
    <option value="fi">Finlanda</option>
    <option value="fr">Franța</option>
    <option value="de">Germania</option>
    <option value="gr">Grecia</option>
    <option value="hu">Ungaria</option>
    <option value="it">Italia</option>
    <option value="ie">Irlanda</option>
    <option value="lv">Letonia</option>
    <option value="lt">Lituania</option>
    <option value="lu">Luxemburg</option>
    <option value="mt">Malta</option>
    <option value="nl">Olanda</option>
    <option value="pl">Polonia</option>
    <option value="pt">Portugalia</option>
    <option value="ro">România</option>
    <option value="sk">Slovacia</option>
    <option value="si">Slovenia</option>
    <option value="es">Spania</option>
    <option value="se">Suedia</option>
    <option value="gb">Regatul Unit</option>
  </select>
  <a href="javascript:void()" title="Get another MEP" id='refresh_mep'><img src="/static/images/refresh.png"/></a>
  <select id="group_selector">
    <option value="">Filtrați după grupul politic</option>
    <option value="epp">PPE: Partidul Popular European</option>
    <option value="sd">S&amp;D: Socialiști și Democrați</option>
    <option value="ecr">CRE: Conservatorii și Reformiștii Europeni</option>
    <option value="aldeadle">ALDE: Alianța Liberalilor și Democraților</option>
    <option value="guengl">SUE: Stânga Unită Europeană</option>
    <option value="greensefa">Verzii: Verzii/Alianța Liberă Europeană</option>
    <option value="ni">NI: Membrii neatașați</option>
    <option value="efd">ELDD: Grupul Europa Libertății și a Democrației Directe</option>
  </select>
  <input id="mep_selector" placeholder="Search" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Schimbați limba</option>
    <option value="ro">român</option>
    <option value="en">engleză</option>
    <option value="de">germană</option>
    <option value="fr">franceză</option>
    <option value="pl">polonez</option>
    <option value="nl">olandeză</option>
  </select>
