<p>Dragă Europarlamentar {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>De ce îmi pasă de neutralitatea rețelei</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>Vreau să vă rog să protejați neutralitatea rețelei la următoarea sesiune de vot privind reglementarea Pieței Unice a Telecomunicațiilor. Apărați poziția puternică adoptată de Parlamentul European pe 3 aprilie 2014 cu privire la neutralitatea rețelei și protejați internetul deschis</p>

  <p>Cu sinceritate,</p>
  <p>{{goodbye}}</p>
