<select id="country_selector">
    <option value="">Select your country</option>
    <option value="at">Austria</option>
    <option value="be">Belgium</option>
    <option value="bg">Bulgaria</option>
    <option value="hr">Croatia</option>
    <option value="cy">Cyprus</option>
    <option value="cz">Czech Republic</option>
    <option value="dk">Denmark</option>
    <option value="ee">Estonia</option>
    <option value="fi">Finland</option>
    <option value="fr">France</option>
    <option value="de">Germany</option>
    <option value="gr">Greece</option>
    <option value="hu">Hungary</option>
    <option value="it">Italy</option>
    <option value="ie">Ireland</option>
    <option value="lv">Latvia</option>
    <option value="lt">Lithuania</option>
    <option value="lu">Luxembourg</option>
    <option value="mt">Malta</option>
    <option value="nl">Netherlands</option>
    <option value="pl">Poland</option>
    <option value="pt">Portugal</option>
    <option value="ro">Romania</option>
    <option value="sk">Slovakia</option>
    <option value="si">Slovenia</option>
    <option value="es">Spain</option>
    <option value="se">Sweden</option>
    <option value="gb">United Kingdom</option>
  </select>
  <a href="javascript:void()" title="Get another MEP" id='refresh_mep'><img src="/static/images/refresh.png"/></a>
  <select id="group_selector">
    <option value="">Filter by political group</option>
    <option value="epp">EPP: European People's Party</option>
    <option value="sd">S&amp;D: Socialists and Democrats</option>
    <option value="ecr">ECR: European Conservatives and Reformists</option>
    <option value="aldeadle">ALDE: Alliance of Liberals and Democrats</option>
    <option value="guengl">GUE: European United Left</option>
    <option value="greensefa">Greens: Greens/European Free Alliance</option>
    <option value="ni">NI: Non-attached Members</option>
    <option value="efd">EFD: Europe of Freedom and Direct Democracy Group</option>
  </select>
  <input id="mep_selector" placeholder="Search" size="30">
  <br/>
    <select id="language_selector">
    <option value="">Change Language</option>
    <option value="en">English</option>
    <option value="de">German</option>
    <option value="fr">French</option>
    <option value="pl">Polish</option>
    <option value="ro">Rumanian</option>
  </select>