<input type="text" id="hometown" name="hometown" class="smalltext" placeholder="Where do you come from? (region / city / town)"/>
<input type="text" id="name" name="name" class="smalltext" placeholder="What is your Name?" />
<input type="text" id="age" name="age" class="smalltext" placeholder="How old are you?" />
<textarea id="whycare" name="whycare" class="mediumtext" placeholder="Why do you care about net neutrality">
</textarea>

<textarea id="full_message" name="full_message" class="emailtext" placeholder="answer the above questions to personalize this message">
  </textarea>
  <br/>
<section><a onclick="makeform()" class="button personal" id="sendfax" href="#">Fax Now!</a></section>