<input type="text" id="name" name="name" class="smalltext" placeholder="What is your Name?" />
<input type="text" id="hometown" name="hometown" class="tinytext smalltext" placeholder="Where do you come from? (region / city / town)"/>
<input type="text" id="age" name="age" class="tinytinytext smalltext" placeholder="How old are you?" />
<textarea id="whycare1" name="whycare1" class="mediumtext" placeholder="Why do you think net neutrality is important?"></textarea>
<textarea id="whycare2" name="whycare2" class="mediumtext" placeholder="How would your life be different without net neutrality?"></textarea>

<textarea id="full_message" name="full_message" class="emailtext" placeholder="answer the above questions to personalize this message">
  </textarea>
  <br/>
<section><a class="button personal" id="sendfax" href="#">Fax Now!</a></section>