<p>Dear MEP {{Greeting}},</p>
{{{Introduction}}}

{{#haswhycare}}
<h2>Why I care about net neutrality</h2>
<p>{{whycare1}}</p>
<p>{{whycare2}}</p>
{{/haswhycare}}

<p>I ask you to protect net neutrality in the upcoming vote about the Telecom Single Market regulation. Defend the strong position on net neutrality the European Parliament adopted on April 3rd 2014 to protect the open internet.</p>

  <p>Sincerely,</p>
  <p>{{goodbye}}</p>